<h1>List of the current party</h1>

<table border="1">
  <tr>
    <td>Party deatails</td>
  </tr>
  <% data.forEach(data => { %>
  <tr>
    <td>
      <div>ID: <%= data.id %></div>
      <div>Name: <%= data.name %></div>
      <div>Code: <%= data.code %></div>
      <div>HostID: <%= data.hostId %></div>
    </td>
  </tr>
  <% }) %>
</table>